**/venv
**/venv/
**/.ipynb_checkpoints/
**/.ipynb_checkpoints
**/__pycache__/
**/__pycache__
**/*.log
**/*.out
**/*.aux
**/*.pdf
**/*.tar
notebook/data/MNIST
notebook/data/FashionMNIST
**/*.tar.gz
/venv
data/MNIST
data/FashionMNIST
/__pycache__
